*.iml
MultiplatformMobile/.gradle
MultiplatformMobile/.idea
MultiplatformMobile/.DS_Store
MultiplatformMobile/build
MultiplatformMobile/captures
MultiplatformMobile/.externalNativeBuild
MultiplatformMobile/.cxx
MultiplatformMobile/local.properties
MultiplatformMobile/xcuserdata
/PlayStoreStuff


# dependencies
/Backend/node_modules
/Backend/.pnp
/Backend/.pnp.js

# Python Token
/Backend/controller/Constants.py
FlaskHuggingFaceHub/password_manager_chatbot/Constants.py
FlaskApp/Constants.py
DjangoApp/contants.py


# testing
/Backend/frontend/coverage

# production

# dotenv file
/Backend/.env

/frontend/node_modules
/frontend/.pnp
/frontend.pnp.js

# testing
/frontend/coverage

# production
# /frontend/build

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*


# Django app 
DjangoApp/contants.py