html,
body {
  height: 100%;
  font-family: "Ubuntu", sans-serif;
}

.mynav {
  color: #fff;
}

.mynav li div,
.mynav li a {
  color: #fff;
  text-decoration: none;
  display: block;
  border-radius: 5px;
  padding: 8px 5px;
}

.mynav li div.active,
.mynav li div:hover {
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.mynav li a i {
  width: 25px;
  text-align: center;
}
